<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>signup</display-name>
  <welcome-file-list>
    <welcome-file>indexweb.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UtilisateurServlet</display-name>
    <servlet-name>UtilisateurServlet</servlet-name>
    <servlet-class>web.UtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServlet</servlet-name>
    <url-pattern>*.utilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProduitServlet</display-name>
    <servlet-name>ProduitServlet</servlet-name>
    <servlet-class>web.ProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitServlet</servlet-name>
    <url-pattern>*.produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandeServlet</display-name>
    <servlet-name>CommandeServlet</servlet-name>
    <servlet-class>web.CommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeServlet</servlet-name>
    <url-pattern>*.commande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoyageServlet</display-name>
    <servlet-name>VoyageServlet</servlet-name>
    <servlet-class>web.VoyageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoyageServlet</servlet-name>
    <url-pattern>*.voyage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs</servlet-name>
    <servlet-class>web.ControleurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandeServlet</display-name>
    <servlet-name>DemandeServlet</servlet-name>
    <servlet-class>web.DemandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandeServlet</servlet-name>
    <url-pattern>*.demande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoyageTrajetServlet</display-name>
    <servlet-name>VoyageTrajetServlet</servlet-name>
    <servlet-class>web.VoyageTrajetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoyageTrajetServlet</servlet-name>
    <url-pattern>*.trajet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLocationServlet</display-name>
    <servlet-name>UpdateLocationServlet</servlet-name>
    <servlet-class>web.UpdateLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLocationServlet</servlet-name>
    <url-pattern>*.locate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLocationServlet</display-name>
    <servlet-name>GetLocationServlet</servlet-name>
    <servlet-class>web.GetLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocationServlet</servlet-name>
    <url-pattern>*.glocate</url-pattern>
  </servlet-mapping>
</web-app>